@import "./variables.css"; 
body{
    background-color: var(--white);
    height: 100vh;
}
#clearLocalStorage{
    max-width: 150px;
    margin: 0 auto;
    color: var(--black);
    border:2px solid var(--beige);
}
#clearLocalStorage:hover{
    font-weight: 700;
    background-color: var(--dark-beige);
    border-color: var(--brown);
    color: var(--white);
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../image/agustin-gunawan-Z7srGedY5xk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.welcome_title{
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
}
.loading{
    border-top: 5px solid var(--black);
    border-left: 5px solid var(--beige);
    border-right: 5px solid var(--dark-beige);
    border-bottom: 5px solid var(--brown);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: loading 3s linear infinite;
}
@keyframes loading{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}
.message-container{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.articles{
    max-width: 300px;
    margin: 3% auto;
}
.card{
    margin-bottom: 2%;
    border: 2px solid var(--beige);
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fa-heart{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: var(--beige);
    z-index: 100;
}
.index{
    color: rgba(0,0,0,.55);
    position: inherit;
    font-size: 1em;
}
.buttons{
    cursor:pointer;
}
.noResults,
.results{
    border: 2px solid var(--dark-beige);
    max-width: 320px;
    margin: 10% auto;
    text-align: center;
}
@media(min-width:769px){
    .welcome{
        background-repeat: repeat;
        height: 250px;
    }
    .articles{
        display: flex;
        max-width: 769px;
    }
    .card{
        margin-right: 2%;
    }
    .noResults,
    .results{
        max-width: 500px;
        margin: 5% auto;
    }
}
@media(min-width:1059px){
    .articles{
        max-width: 1059px;
    }
}
